@import url('https://fonts.googleapis.com/css2?family=Lora&family=Montserrat:display=swap');

/* index 
*/
*{
    margin: 0;
    padding: 0;
    font-family: 'Kanit';
    box-sizing: border-box;
    text-decoration: none;
}

*{
    text-decoration: none;
    font-family: "Monstserrat", sans-serif;
}

body {
    background: linear-gradient(to bottom,  aqua, rgb(255, 192, 247));
  }
  #menu ul li {
    display: inline;
    font-size: 15px;
    font-weight: 400;
    padding: 16px;
}
#menu ul li a{
    color: brown;
   
}
#titulo{
    color: crimson;
    text-align: center;
    font-size: 40px;
}
#menu ul li a:hover{
    color: coral;
  }

  .centralizar{
    text-align: center;
    align-items: center;
}

.container{
    display: flex;
flex-flow: row;  
justify-content: center;
align-items: center;
text-align: center;
padding-left: 15px;
margin: 2px;

}